*{
    margin: 0;
    padding: 0;
}
ul{
    list-style-type: none;
    overflow: hidden;
    background-color: darkslateblue;
    margin: 0;
    padding: 0;
    background-color: darkslateblue;
}
li{
    float: left;
}
li a{
    text-decoration: none;
    padding: 25px;
    padding-left: 300px;
    display: block;
    background-color: darkslateblue;
    color: black;
    font-size: larger;
    font-style: italic;
    
}
.background{
    background-color: darkslateblue;
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
}
.logo h3{
    position: absolute;
    left: 10px;
    top: 25px;
    color: black;
    font-style: italic;
}
input{
    background-color: darkgrey;
    margin: 50px;
}
form{
    margin: 25px;
    text-align: center;
    font-size: larger;
    float: top;
}